In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 13.2 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [2]:
import mysql.connector
import pandas as pd

# Establishing the database connection
connection = mysql.connector.connect(
    host='isba-dev-01.crw88eg88uar.us-east-1.rds.amazonaws.com',
    user='admin',
    password='isba_4715',
    database='artworks'
)

# SQL query for individual artwork analysis
query_individual_artworks = """
SELECT
    title,
    Year,
    accessionYear,
    accessionYear - Year AS time_on_market,
    AVG(accessionYear - Year) OVER (PARTITION BY Year) AS avg_time_on_market_per_year
FROM
    roy_lichtenstein;
"""

# SQL query for yearly average time on market
query_yearly_avg_time = """
SELECT
    Year,
    AVG(accessionYear - Year) AS avg_time_on_market_per_year
FROM
    roy_lichtenstein
GROUP BY
    Year
ORDER BY
    Year;
"""

# SQL query for yearly and classification aggregates
query_yearly_classification_aggregates = """
WITH YearlyAggregates AS (
    SELECT
        Year,
        Classification,
        COUNT(*) AS NumberOfWorks,
        AVG(accessionYear - Year) AS AvgTimeOnMarket
    FROM
        roy_lichtenstein
    GROUP BY
        Year, Classification
)
SELECT
    Year,
    Classification,
    NumberOfWorks,
    AvgTimeOnMarket
FROM
    YearlyAggregates
ORDER BY
    Year, Classification;
"""

# Executing queries and fetching results
individual_artworks = pd.read_sql(query_individual_artworks, con=connection)
yearly_avg_time = pd.read_sql(query_yearly_avg_time, con=connection)
yearly_classification_aggregates = pd.read_sql(query_yearly_classification_aggregates, con=connection)

# Closing the database connection
connection.close()

# Displaying the results
print("Individual Artworks Analysis:")
print(individual_artworks)
print("\nYearly Average Time on Market:")
print(yearly_avg_time)
print("\nYearly and Classification Aggregates:")
print(yearly_classification_aggregates)

<ipython-input-2-e7f848ea06bf>:62: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  individual_artworks = pd.read_sql(query_individual_artworks, con=connection)
<ipython-input-2-e7f848ea06bf>:63: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  yearly_avg_time = pd.read_sql(query_yearly_avg_time, con=connection)
<ipython-input-2-e7f848ea06bf>:64: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  yearly_classification_aggregates = pd.read_sql(query_yearly_classification_aggregates, con=connection)

Individual Artworks Analysis:
                                   title  Year accessionYear  time_on_market  \
0                           Edison Mazda  1924          1982            58.0
1              Autumn Rhythm (Number 30)  1950          1957             7.0
2   The United States and the Macedonian  1953          1998            45.0
3          Portrait of Berdie, Number II  1953          2006            53.0
4                          Easter Monday  1955          1956             1.0
..                                   ...   ...           ...             ...
86                   Reflections on Hair  1990          2003            13.0
87           Reflections on Brushstrokes  1990          2003            13.0
88            Landscape with Philosopher  1996          2015            19.0
89                   Untitled Still Life  1997          1999             2.0
90      The History of Photography Remix  2004          2007             3.0

    avg_time_on_market_per_year
0                          58.0
1                           7.0
2                          49.0
3                          49.0
4                           1.0
..                          ...
86                         13.0
87                         13.0
88                         19.0
89                          2.0
90                          3.0

[91 rows x 5 columns]

Yearly Average Time on Market:
    Year  avg_time_on_market_per_year
0   1924                    58.000000
1   1950                     7.000000
2   1953                    49.000000
3   1955                     1.000000
4   1957                    12.000000
5   1958                    11.000000
6   1960                    32.000000
7   1961                     8.000000
8   1962                    17.250000
9   1963                    17.000000
10  1964                     4.777778
11  1965                    21.470588
12  1966                     0.500000
13  1967                     6.222222
14  1968                     1.000000
15  1969                    21.000000
16  1971                    21.000000
17  1973                    26.500000
18  1974                    13.000000
19  1975                    44.000000
20  1978                     5.500000
21  1980                    20.000000
22  1981                    19.000000
23  1983                     0.000000
24  1989                     0.000000
25  1990                    13.000000
26  1996                    19.000000
27  1997                     2.000000
28  2004                     3.000000

Yearly and Classification Aggregates:
    Year  Classification  NumberOfWorks  AvgTimeOnMarket
0   1924       Paintings              1        58.000000
1   1950       Paintings              1         7.000000
2   1953       Paintings              1        53.000000
3   1953          Prints              1        45.000000
4   1955       Paintings              1         1.000000
5   1957          Prints              1        12.000000
6   1958          Prints              1        11.000000
7   1960     Photographs              1        32.000000
8   1961          Prints              1         8.000000
9   1962       Paintings              1        60.000000
10  1962          Prints              3         3.000000
11  1963       Paintings              1        31.000000
12  1963          Prints              1         3.000000
13  1964           Books              2         2.000000
14  1964          Prints              7         5.571429
15  1965  (not assigned)              1        42.000000
16  1965           Books              1         1.000000
17  1965          Prints             15        21.466667
18  1966          Prints              2         0.500000
19  1967           Books              1         7.000000
20  1967          Prints             16         3.437500
21  1967        Textiles              1        50.000000
22  1968          Prints              3         1.000000
23  1969      Miscellany              3        31.000000
24  1969          Prints              4        13.500000
25  1971     Photographs              1        21.000000
26  1973      Portfolios              1         3.000000
27  1973          Prints              1        50.000000
28  1974          Prints              2        13.000000
29  1975          Prints              1        44.000000
30  1978        Drawings              2         0.000000
31  1978       Paintings              1         2.000000
32  1978       Sculpture              1        20.000000
33  1980          Prints              1        20.000000
34  1981          Prints              1        19.000000
35  1983          Prints              1         0.000000
36  1989          Prints              1         0.000000
37  1990          Prints              2        13.000000
38  1990       Sculpture              1        13.000000
39  1996       Paintings              1        19.000000
40  1997          Prints              1         2.000000
41  2004  Variable Media              1         3.000000


#### First Query:

**Business Question:**
How long do artworks by Roy Lichtenstein typically stay on the market before being acquired by museums? Which pieces have museums been quick to acquire, and which have lingered longer on the market?

**Insights:**
**Artworks' Appeal Over Time:** Some artworks during certain years on average are acquired quickly by museums, suggesting immediate cultural or artistic value recognized by museum curators.

**Longer Market Times:** Some artworks that stay longer on the market may have niche appeals or may have gained significance over time, eventually catching museum interest.


**Recommendations for Collectors:**
If aiming for museum acquisition, consider the timing of offering pieces to museums, particularly those that align with current exhibitions or gaps in the museum’s collection.


**Predictions Based on Recommendations:**
Well-documented and strategically offered artworks might see increased interest from museums, particularly if they fit into emerging trends or exhibit themes.

#### Second Query:

**Business Question:**
How does the average time on the market vary by year of artwork creation and by classification, and what can this tell us about museum acquisition trends?

**Insights Gained:**
Different periods and classifcations of work have varying average times on market, which may reflect the changing tastes in museum acquisitions or shifts in art movements.

**Recommendations for Collectors:**
Acquire and offer artworks from periods currently underrepresented in museums but align with emerging historical or cultural reassessments.Keep an eye on trends in museum exhibitions and acquire artworks from periods that are increasingly being showcased.

**Predictions Based on Recommendations:**
By aquring potentially trendy or currently underrepresented artwork collectors can better position their artworks for consideration by museums enhancing their chances of being exhibited and achieving greater recognition.