In [7]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Downloading mysql_connector_python-8.3.0-cp310-cp310-manylinux_2_17_x86_64.whl (21.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 21.5/21.5 MB 32.9 MB/s eta 0:00:00
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-8.3.0

In [13]:
import mysql.connector
import pandas as pd

# Establishing the database connection
connection = mysql.connector.connect(
    host='isba-dev-01.crw88eg88uar.us-east-1.rds.amazonaws.com',
    user='admin',
    password='isba_4715',
    database='artworks'
)

# SQL query for top auction houses by sales volume
query_top_auction_houses = """
SELECT ad.auction_house, COUNT(*) AS NumberOfSales
FROM auction_details ad
JOIN artwork_details ad2 ON ad.id = ad2.id
GROUP BY ad.auction_house
ORDER BY NumberOfSales DESC, auction_house;
"""

# SQL query for month-to-month comparison of top auction houses
query_monthly_comparison = """
SELECT
    MONTHNAME(auction_date) AS 'Month',
    COUNT(CASE WHEN ad.auction_house = "Sotheby's • New York" THEN ad.id ELSE NULL END) AS `Sotheby's • New York Sales`,
    COUNT(CASE WHEN ad.auction_house = "Christie's • New York" THEN ad.id ELSE NULL END) AS `Christie's • New York Sales`,
    COUNT(CASE WHEN ad.auction_house = "Swann Galleries • New York" THEN ad.id ELSE NULL END) AS `Swann Galleries • New York Sales`
FROM
    auction_details ad
JOIN
    artwork_details ad2 ON ad.id = ad2.id
GROUP BY
    MONTHNAME(auction_date)
ORDER BY
    MONTH(auction_date);
"""

# Executing queries and fetching results
top_auction_houses = pd.read_sql(query_top_auction_houses, con=connection)
monthly_comparison = pd.read_sql(query_monthly_comparison, con=connection)

# Closing the database connection
connection.close()

# Displaying the results
print("Top Auction Houses by Sales Volume:")
print(top_auction_houses)



print("\nMonthly Sales Comparison:")
print(monthly_comparison)

<ipython-input-13-dd7362ca0a05>:39: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  top_auction_houses = pd.read_sql(query_top_auction_houses, con=connection)
<ipython-input-13-dd7362ca0a05>:40: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  monthly_comparison = pd.read_sql(query_monthly_comparison, con=connection)

Top Auction Houses by Sales Volume:
Business Question: Who are the top Auction houses by sales volume?
                       auction_house  NumberOfSales
0              Christie's • New York           1213
1               Sotheby's • New York            823
2                          Sotheby's            703
3         Swann Galleries • New York            265
4                         Christie's            254
..                               ...            ...
460                Wannenes • Genova              1
461        Webb's Fine Art • Aukland              1
462                 Whyte's • Dublin              1
463            Wolf's • Cleveland OH              1
464  Zurichsee Auktionen • Erlenbach              1

[465 rows x 2 columns]
Insight: Overwhelmingly The top auction houses are all the New York locations of Sotheby's, Christie's, and Swann Galleries.

Monthly Sales Comparison:
Business Question: How do they compare month to month?
        Month  Sotheby's • New York Sales  Christie's • New York Sales  \
0        None                           0                            0
1     January                           0                            3
2    February                          12                           53
3       March                          47                           10
4       April                          97                          238
5         May                         259                          244
6        June                           2                            0
7        July                           1                           42
8      August                           0                            1
9   September                          10                           31
10    October                         168                          319
11   November                         224                          266
12   December                           3                            6

    Swann Galleries • New York Sales
0                                  0
1                                  0
2                                  2
3                                 11
4                                  2
5                                 56
6                                 30
7                                  0
8                                  4
9                                  6
10                                 0
11                               154
12                                 0

# Query 1

Business Question: Who are the top Auction houses by sales volume?

Insight: Overwhelmingly The top auction houses are all the New York locations of Sotheby's, Christie's, and Swann Galleries.

Recomendation: Buying and selling artworks from this artist happen most frequently at these New York locations. Frequently attend these auctions.

Prediction: A collector would find more success dealing these artworks out of the New York Locations.

#Query 2


Business Question: How do they compare month to month and what months are the most sales?

Insight: There are distinct gallery seasons Feb - May & Sept - Nov for this artist.Sotheby's and christies are essentially head to head followed by Swann

Recomendation: aquiring these artworks during the offseason with the intention to sell during peak demand at these auctions.

Prediction: A collector would find more success dealing these artworks at Sotheby's and Christies in noew york from Feb - May & Sept - Nov.